.about {
  margin-bottom: 80px;

 
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;

}


@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 20px;
  }
}

.m{ width:500;
   height:300;
  }


  .v{width :600;
    height:300;
  }

  .fl{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-between;
 
  }

  .fl .heading{
    font-family: 'Playfair Display', serif;
  }


  .btn7{
margin-left: 40%;
margin-top: 10%;
  }

  
 .g .heading{
  font-family: 'Playfair Display', serif;
 }