.profile {
    /* height: 500px; */
    /* width:500px; */
    /* background-color:rgb(103, 243, 103); */
    /* border:3px solid rgb(3, 238, 3); */
    /* margin-bottom: 10px; */
    display: inline-flex;
    flex-wrap: wrap;
  }
  .profile > div {
    margin: 25px;
  }
  #img {
    /* border:2px solid rgb(143, 236, 143) ; */
    height: 340px;
    border-radius: 60%;
  }
  .edit-form-profile {
    /* width: 50%; */
    /* background-color: rgb(175, 175, 172); */
    /* border: 2px solid rgb(143, 236, 143); */
    color: black;
    /* height: 100%; */
  }
  .edit-form-profile input {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(10, 10, 10);
  }
  .edit-form-profile form {
    margin-top: 5px;
  }
  .totalProfile {
    display: flex;
    flex-direction: row;
  }
  .buttonflex2{

display:flex;
justify-content: space-between;

  }
  .text a {
font-size :20px;
background-color:rgb(3, 192, 113);
color:rgb(24, 23, 23);

  }
  .heart{
   font-size: large;
  }