.loginForm{
    border:2px solid rgb(70, 248, 99);
    margin-left: 400px;
     width:600px;
}

.buttonSignin{
    border-radius: 5px;
    padding: 17px 30px;
    background: #27ae60;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.signinlink{
    color : blue;
    font-size : 20px ;
    margin-bottom: 20px;
    }
    
    .signinlink:hover{
     color:red;
    
    }

.AuthBody{

width:900px;
height:1280px;
background-color:rgba(65, 105, 225, 0.623)  ;
margin-top:100px;
margin-left:500px;


    }
